.agents
backend/.env
AGENTS.md
Feature_guide.md
Phase_9_Features_guide.md
Phase_10_Features_guide.md
Phase7_features.md
Phase8_feature_guide.md
Cafe_Woodys_Project_Scope_and_Payment_Terms.docx
Phase_18_Features_Guide.md

# Dependencies & Node Modules
node_modules/
**/node_modules/

# Build & Output Artifacts
dist/
**/dist/
build/
**/build/
*.apk

# Environment & Logs
.env
*.log
Phase_22_Feature_guide.md
Phase_21_Feature_Guide.md
Phase_20_Feature_Guide.md
